@import "tailwindcss";

@theme {
  --color-background: #f6f6f6;
  --color-primary: #ff007f;
  --color-violet: #372077;
  --color-secondary: #001744;
  --color-on-background: #0f0f0e;
  --color-green: #88be48;
}

:root {
  @apply text-base text-secondary font-bold;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  @apply max-w-[1230px] w-full px-4 mx-auto;
}

.button-primary {
  @apply h-12 relative bg-primary text-lg text-white py-3 px-5 rounded-tl-[20px] cursor-pointer after:absolute after:size-full after:-bottom-1.5 after:-right-1.5 after:bg-violet after:rounded-tl-[20px] after:-z-10;
}

.button-white {
  @apply h-12 relative bg-white text-violet text-lg py-3 px-5 rounded-tl-[20px] cursor-pointer after:absolute after:size-full after:-bottom-1.5 after:-right-1.5 after:bg-primary after:rounded-tl-[20px] after:-z-10;
}

.button-secondary {
  @apply h-12 relative bg-secondary text-lg text-white py-3 px-5 rounded-tl-[20px] cursor-pointer after:absolute after:size-full after:-bottom-1.5 after:-right-1.5 after:bg-primary after:rounded-tl-[20px] after:-z-10;
}

.h1 {
  @apply text-4xl lg:text-5xl leading-[110%];
}

.h2 {
  @apply text-2xl lg:text-[44px] leading-[130%];
}

.h3 {
  @apply text-lg lg:text-[26px] leading-[120%];
}

.p {
  @apply text-base lg:text-lg font-light;
}

.dot {
  @apply size-1.5 rounded-full bg-white/50;
}
.dot-active {
  @apply size-3 bg-white rounded-full;
}

.marquee-wrapper {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  background: #ff008c;
}

.marquee-track {
  display: flex;
  flex-wrap: nowrap;
  animation: marquee 20s linear infinite;
}

.marquee-content {
  display: flex;
  gap: 30px;
  flex-shrink: 0;
  min-width: 60%; /* <-- ключевой момент */
  padding-right: 40px;
}

@keyframes marquee {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
