@import "tailwindcss";

@theme {
  --color-background: #f6f6f6;
  --color-primary: #ff007f;
  --color-violet: #372077;
  --color-secondary: #001744;
  --color-on-background: #0f0f0e;
  --color-green: #88be48;
}

:root {
  @apply text-base text-secondary font-bold;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  @apply max-w-[1230px] w-full px-4 mx-auto;
}

.button-primary {
  @apply relative bg-primary text-lg text-white py-3 px-5 rounded-tl-[20px] cursor-pointer after:absolute after:size-full after:-bottom-1.5 after:-right-1.5 after:bg-violet after:rounded-tl-[20px] after:-z-10;
}

.button-white {
  @apply relative bg-white text-violet text-lg py-3 px-5 rounded-tl-[20px] cursor-pointer after:absolute after:size-full after:-bottom-1.5 after:-right-1.5 after:bg-primary after:rounded-tl-[20px] after:-z-10;
}

.button-secondary {
  @apply relative bg-secondary text-lg text-white py-3 px-5 rounded-tl-[20px] cursor-pointer after:absolute after:size-full after:-bottom-1.5 after:-right-1.5 after:bg-primary after:rounded-tl-[20px] after:-z-10;
}

.h1 {
  @apply text-[54px] leading-[110%];
}

.h2 {
  @apply text-[44px] leading-[130%];
}

.h3 {
  @apply text-[26px] leading-[120%];
}

.p {
  @apply text-lg font-light;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.marquee-wrapper {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  gap: 10px;
}

.marquee,
.marquee2 {
  display: flex;
  gap: 40px;
}

.marquee {
  animation: marquee 40s linear infinite;
}

.marquee2 {
  position: absolute;
  top: 0;
  left: -40px;
  animation: marquee2 40s linear infinite;
}
